# Database Configurations
POSTGRES_DB=belajara_db
POSTGRES_USER=belajara_user
POSTGRES_PASSWORD=belajara_pass
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Redis Configurations
REDIS_URL=redis://127.0.0.1:6379/1

# Django Configurations
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Midtrans Configurations
MIDTRANS_IS_PRODUCTION=False
MIDTRANS_SERVER_KEY=your-midtrans-server-key
MIDTRANS_CLIENT_KEY=your-midtrans-client-key

# AI Configurations
GEMINI_API_KEY=your-gemini-api-key
